<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <title>Document</title>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');
*{
  box-sizing: border-box;
}
body{
background-color: #fff;
font-family: Poppins;
}
#fullUrl{
  width: 80vw;
  max-width: 900px;
}
    .container{
      width: 80vw;
  max-width: 1200px;
  margin-top: 10vh;
  padding:50px 50px 100px 50px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
box-shadow: 0 0  14px 14px rgb(239, 239, 239);
    }
    form{
      margin-top: 30px;
      margin-bottom: 50px;
    }
  </style>
</head>
<body>
  <div class="container">
    <h1>Paste the URL to be shortened</h1>
    <form action="/shortUrls" method="POST" class=" form-inline">
      <label for="fullUrl" class="sr-only">Url</label>
      <input required placeholder="Enter the URL to be shortened" type="url" name="fullUrl" id="fullUrl" class="form-control col mr-2">
      <button class="btn btn-success" type="submit">Shorten URL</button>
    </form>
    
    <table class="table table-striped table-responsive">
      <thead>
        <tr>
          <th>Full URL</th>
          <th>Short URL</th>
          <th>Clicks</th>
        </tr>
      </thead>
      <tbody>
        <% shortUrls.forEach(shortUrl => { %>
          <tr>
            <td class="longURL"><a href="<%= shortUrl.full %>"><%= shortUrl.full %></a></td>
            <td class="shortURL"><a href="<%= shortUrl.short %>"><%= shortUrl.short %></a></td>
            <td class="analytics"><%= shortUrl.clicks %></td>
          </tr>
        <% }) %>
      </tbody>
    </table>
  </div>
</body>
</html>